[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "makefile_utils"]
	path = makefile_utils
	url = git@github.com:hljeong/makefile_utils.git
